{% extends "base.html" %}
{% load basetags %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    The current time is:
    {{ current_time }}
    <br><br>

    Now I want to use filter:
    {{ current_time | date:'Y-m-d' }}
    <br><br>

    Here is the if and for statement:
    <br>
    {% if 3 > 7 %}
        3 is greater than 7!
    {% else %}
        But: 3 is lower than 7.
    {% endif %}
    <br><br>

    Now I want to use Template Tag:
    <br>
    {% get_time "%Y/%m/%d" as current_time_tag%}
    {{ current_time_tag }}
    <br><br>

    <table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
    </tr>
    {% for item in products_page.object_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.type }}</td>
        </tr>
    {% endfor %}
</table>


    <div class="pagination">
    <span class="step-links">
        {% if products_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products_page.number }} of {{ products_page.paginator.num_pages }}.
        </span>

        {% if products_page.has_next %}
            <a href="?page={{ products_page.next_page_number }}">next</a>
            <a href="?page={{ products_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>



{% endblock %}